.webcam-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%; 
  
}

.webcam-feed, .webcam-placeholder {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  height: 300px; 
  width: 400px; 
  transform: scaleX(-1);
}

.webcam-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ccc;
  color: #fff; 
  font-size: 24px;
}

.emotion-display {
  font-size: 4em; 
  color: #333;
  margin-top: 20px; 
}

.control-btn {
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;
}
  
  .control-btn:hover {
    background-color: #0056b3;
  }
  

  .happy {
    color: #ffd700;
  }
  
  .sad {
    color: #007bff;
  }
  
  .angry {
    color: #dc3545;
  }
  
  .surprise {
    color: #ffc107;
  }
  
  .fear {
    color: #6f42c1;
  }
  
  .neutral {
    color: #6c757d;
  }